* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}

.main-div {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(206, 92%, 94%);
}

.inner-div {
    width: 40vw;
    background-color: #fff;
    padding: 2rem 2rem;
    border-radius: 1rem;
    /* border: 1px solid red; */
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

.inner-div h2 {
    font-size: 1.5rem;
    font-weight: 400;
    /* margin: 1rem 0 4rem 0; */
}

.inner-div li {
    font-size: 1rem;
    margin-top: 1rem;
    list-style: none;
}

input {
    cursor: pointer;
}

#submit,
.btn {
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1.5rem;
    font-size: 400;
    display: block;
    margin: 1rem auto;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    background-color: rgb(135, 222, 189);
    color: #fff;
}

#submit:hover {
    background-color: aquamarine;
}

#showScore {
    background-color: #dfe6e9;
    margin-top: 3rem;
    padding: 3rem 4rem;
}

.scoreArea {
    display: none;
}